
body{
	margin:0;
	padding:0;
	font-family:Inter;
}
.container{ 
	background-color:white;
	margin:0;
	padding:-20px;
	display:block;
 }
header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:black;
	padding:5px 5px;
	position:sticky;
	top:0;
	color:white;
	z-index:1001;
}

header h5{
	font-family:Inria Sans;
	margin:0 10px;
	font-size:12px;

}
header.giftcard{
	padding:20px;
	align-items:center;
	color:#ffffff;
}
header.fa-location-dot{ 
	margin-right:10px;
}
.fa-location-dot{
	margin:0;
}
 @media (max-width: 768px) {
    header {
    flex-direction: column;
    text-align: center;
}
		header h5 {
    font-size: 0.9em;
    margin: 5px 0;
}
		header i {
    font-size: 1.2em;
    margin: 5px 0;
}
}
@media (max-width: 480px) {
   	header h5 {
    font-size: 0.8em;
}
		header i {
    font-size: 1em;
}
}
nav{
	display: flex; 
	justify-content:space-evenly;
	background-color:white; 
	align-items:center;
	padding:10px 20px;
	position:sticky;
	top:20px;
	z-index:100;
	text-align:center;
}
.logo{
	max-width:120px;
	height:auto;
 	cursor: pointer; 
 	transition: transform 0.3s, filter 0.3s;
}
.nav-icons{ 
	display:flex;
	font-size: 20px; 
	margin:10px 0; 
	justify-content:space-evenly;
	cursor: pointer;
	width:20%;
 }
 .nav-menu{
 	align-self:stretch;
 	margin:0;
 	display:flex;
 	flex:1;
 	padding:0;
 	width:100%;
 	justify-content:center;
 	align-items:center;
  }
 .nav-menu li{
 	position:relative;
 	list-style-type:none;
 }
 .nav-menu li h2 { 
 	margin: 0; 
 	font-size: 18px; 
 }
  .nav-menu a { 
  	color: black; 
  	text-decoration: none; 
  	padding: 15px 20px; 
  	display: block; 
  } 
	.dropdown { 
  		display: none; 
  		position: absolute; 
  		top: 100%; 
  		left: 0; 
  		background-color:#F7C2C2; 
  		list-style-type: none; 
  		margin: 0; 
  		padding:0; 
} 
.nav-menu li:hover .dropdown { 
		display: block; 
	} 
	.dropdown li { 
		width:100px;
	} 
	.dropdown a { 
		color: black; 
		padding: 5px 15px; 
		text-decoration: none; 
		display: block; 
	} 

	.dropdown a:hover{ 
	background-color: white;
} 
.dropdown li:hover.dropdown { 
	display: block; 
} .
.nav-menu .logo { 
	margin-right: auto;
	 padding: 15px 20px; 
	}
.dropdown1{
	display:none;
	position:absolute;
	left:0;
	top:100%;
	background-color:#F7C2C2;
	padding:0;
	margin:0;
	list-style-type:none;
}
.nav-menu li:hover .dropdown1 { 
	display:block; 
} 
.dropdown1 h3 .dropdown1 li { 
	white-space: nowrap;  
} 
.dropdown1 li { 
	padding: 5px 10px; 
} 
.dropdown1 a { 
	color: #000;
	padding: 5px 10px;

} 
.dropdown1 a:hover { 
	background-color: white;
}
.banner{
	display:flex;
	flex-direction:column;
	min-height:780px;
	width:100%;
}
.promo{
	color:white;
	position:absolute;
	bottom:2px;
	padding-left:10px;
	left:16px;
	justify-content:space-evenly;
}
.promo h1{
	font-size:40px;
}
.promo h2{
	font-size:16px;
}
@media (max-width:768px){
	.nav-menu {
    flex-direction: column;
    align-items: flex-start;
}
 .nav-menu li {
  margin-right: 0;
  margin-bottom: 10px;
}
.dropdown, .dropdown1 {
  position: static;
  min-width: 100%;
}
}
@media(max-width:480px){
	 .nav-menu h2 {
  	font-size: 1em;
}
	 .nav-icons i {
	 	font-size: 1.2em;
}
	.promo h1 {
  font-size: 1.5em;
}
	.promo h2 {
	font-size: 1em;
}
}
.container2{
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:center;
	background-color:white;
	padding:20px;
	margin:20px auto;
	max-width:900px;
}
.image{
	flex:1;
	margin-right:20px;
	padding-left:4px;
}
.image img{
	width:550px;
	height:400px;
	object-fit:cover;
}
.text-content{
	flex:2;
	max-width:700spx;
}
.about{
	margin-bottom:10px;
	text-align:center;
	font-size:25px;
	font-family:Inter,sans-serif;
}

.description{
	line-height:1.5;
	margin-top:0;
	font-family:Inria,sans-serif;
	font-size:14px;
	text-align:left;
}
@media(max-width:768px){
	 .image, .text-content {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 5px;
}
	  .about {
    font-size: 2em;
}
		.description {
    font-size: 1em;
}
}
@media(max-width:480px){
	.about {
  font-size: 1.5em;
}
	.description {
   font-size: 0.9em;
}
}
.collection{
	display:grid;
	grid-template-areas:rows;
	gap:20px;
	padding:20px;
	background-color:white;
}
.product-container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	justify-content: space-around;
}
.product1{
	flex: 1 1 calc(25% - 40px);
	box-sizing:border-box;
	margin-bottom:20px;
	margin:20px;
	text-align:center;
}

.product .menscollection{
	max-width:100%;
	height:auto;
	margin-bottom:10px;
	text-align:center;
}
.product1 h2,.product1 h3{
	margin:10px 0;
}
.product1 img{
	width:100%;
	max-width:300px;
	height:auto;
	margin-bottom:10px;
}
.collectiontitle{
	font-size:30px;
	margin:10px;
	text-align:center;
	font-family:Inria,sans-serif;
	font-weight:bold;
}
.product1 h2{
	font-size:18px;
	margin:10pxc 0;
}
.product1 h3{
	font-size:16px;
	margin:5px 0;
}
@media (max-width:768px){
	.product1{
		flex:1 1 100%;
		max-width:100%;
	}
	.collectiontitle{
		font-size:30px;
		padding:8px 16px;
	}
}
@media (max-width:480px){
	.collectiontitle{
		font-size:30px;
		padding: 6px 12px;
	}
	 .product1 h2 {
     font-size: 1em;
}
 .product1 h3 {
    font-size: 0.9em;
}
}
.womems{
	display:flex;
	justify-content:center;
	padding:2rem;
	margin:0 auto;
}
.container3{
	display:flex;
	gap:2rem;
	width:100%;
}
aside{
	flex:1;
	max-width:57%;
}
aside img{
	width:100%;
	height:1000px;
	object-fit:cover;
}

.right-collection .item2{
	display:flex;
	flex-direction:column;
	flex:center;
	width:350px;
}
 .row{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:100%;
	max-width:800px;
	
}
.title{
	font-size:24px;
	font-weight:bold;
	margin-bottom:5px;
	font-family:'Inria serif', serif;
	padding-top:-30px;
	text-align:center;
}
 .item img {
 	width:100%;
 	height:auto;
 	margin-bottom:10px;
 	object-fit:cover;
}
.item{
	width:350px;
	padding-right:50px;
	text-align:left;
}
 .item2 img{
	width:100%;
 	height:auto;
 	margin-bottom:40px;
 	margin-right: 500px;
 	object-fit:cover;
}
.item .item2 h2 {
  font-size: 18px;
  font-weight:;
  margin-bottom:5px;
  margin-right: 10px;
}
 .item .item2 h3 {
  font-size: 16px;
  font-weight:normal;
}


.accessories{
	position:relative;
	text-align:center;
}
.container4{
	position:relative;
}
.container4{
	width:100%;
	height:auto;
}
  @media (max-width: 768px) {
   aside, .right-collection {
   flex: 1 1 100%;
   max-width: 100%;
   text-align: center;
}
  .item {
  flex: 1 1 100%;
  max-width: 100%;
}
}

@media (max-width: 480px) {
  .item h1 {
  font-size: 1.5em;
}
.item h2 {
  font-size: 1em;
}
.item h3 {
 font-size: 0.9em;
}
}
.text-container {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
  text-align:center;
  gap:20px;
  padding:20px;
}
.text-container h1 {
  font-size:4em;
  margin:0;
  background-color:white;
}

.text-container button {
	margin-top:10px;
  padding: 10px 20px;
  font-size: 4em;
  font-weight: bold;
  background-color:gray;
  cursor: pointer;
  transition:background-color 0.3s ease0;
}

.text-container button:hover {
  background-color: #F7C2C2;
}

.kid{
	display:flex;
	flex-wrap:wrap;
	padding:20px;
	align-items:center;
}
.kidcollection{
	max-width:50%;
	width:20%;
	height:auto;
	flex: 1 1 50%;
}
.text{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	padding:100px;
}
.text h1{
	font-size:36px;
	margin:0;
}
.text h2{
	font-size:24px;
	margin:10px 0;
}
.text button{
	padding:10px 20px;
	font-size:16px;
	border: none;
 	border-radius: 5px;
	cursor: pointer;
	background-color:gray;
}
.text button:hover{
	background-color:#F7C2C2;
}
@media(max-width:768px){
	.kid{
		width:100%;
		padding:10px;
	}
	.kidcollection,.text{
		width:100%;
		padding:10px;
	}
		.text h1{
		font-size:1.5em;
	}
	.text h2{
		font-size:1.2em;
	}
	.text button{
		font-size:0.9em;
		padding:8px 16px;
	}
}
@media(max-width:480px){
	.kid{
		width:50%;
		padding:10px;
	}
	.kidcollection,.text{
		width:100%;
		padding:10px;
	}
	.text h1{
		font-size:1.5em;
	}
	.text h2{
		font-size:1.2em;
	}
	.text button{
		font-size:0.9em;
		padding:8px 16px;
	}
}
.new {
 	display:flex;
	align-self:center;
	margin:109px auto 0;
	padding:0 20px;
}
.surfers{
	display: flex;
	width:30%;
	height:auto;
	flex:0 0 72%;
}
.surfers img{
	width:100%;
	height:auto;
	object-fit:cover;
	aspect-ratio:0.75;
}
.surfers img:last-child{
	margin-top:97px;
}
.collects{
	flex:0 0 28%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align:center;
	margin:auto 0;
	font-family:'Inria Serif', serif;
}
.collects h1 { 
	font-size:40px;
	font-weight:400;
	margin:0;
}

.collecgts h2{
  font-size:24px;
  font-weight:700;
  margin:21px 0 0;
}

.collects button {
  background-color:gray;
  border:none;
  color:white;
  display:inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  cursor:pointer;
  margin:4px 2px; 
}

.collects button:hover {
  background-color: #F7C2C2;
}
@media(max-width:768px){
	.new{
		flex-direction:column ;
	}
	.collects{
		text-align:center;
	}
	.surfers img{
		max-width:90%;
	}
}
@media(max-width:480px){
	.collects h1{
		font-size:1.5em;
	}
	.collects h2{
		font-size:1.2em;
	}
	.new button{
		font-size:0.9em;
		padding:8px 16px;
	}
}
.surf{
	width:100%;
	max-width:1200px;
	margin:20px auto;
	text-align:center;
}
.surf img{
	width:100%;
	height:auto;
}
.products{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	margin-top:20px;
}
.product2{
	flex:1 1 30%;
	max-width:30%;
	text-align: center;
	padding: 10px; 
}
.product2 img { 
	width:100%;
	height:auto;
}
.product2 h2 { 
	font-size: 18px; 
	margin: 10px 0; 
}
.product2 h3 { 
	font-size: 16px;   
}
@media(max-width:768px){
	.product2{
		flex:1 1 45%;
		max-width:45%;
	}
}
@media(max-width:480px){
	.product2{
		flex:1 1 100%;
		max-width:100%;
	}
}
.container5 {
    max-width:1200px;
    margin:0 auto;
    padding:20px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.social {
    display: flex;
   	justify-content:space-between;
   	flex-wrap:wrap;
    width: 100%;
}
.special, .instagram {
   position:relative;
   flex:1 1 45%;
   margin:10px;
}
.special img, .instagram img {
   width:100%;
   height:auto;
}
.special h1, .instagram h1 {
    font-size: 28px;
    top:20%;
}

.special h2, .instagram h2 {
    font-size: 20px;
    top:40%;
}


.special button {
		top:60%;
    padding: 10px 20px;
    font-size: 16px;
    background-color:gray;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.special button:hover {
    background-color:#F7C2C2;
}
.follow{
	padding: 10px 20px;
    font-size: 16px;
    background-color:gray;
    color: white;
    cursor: pointer;
}
.follow:hover{
	background-color:#F7C2C2;
}
@media(max-width:768px){
	.special, .instagram{
		flex:1 1 100%;
		margin:10px 0;
	}
	.special h1, .instagram h1 {
    font-size: 28px;
}

.special h2, .instagram h2 {
    font-size: 20px;
}
.special button{
	font-size:0.9em;
	padding:8px 16px;
}
}
.container6 {
	max-width:1200px;
	margin:0 auto;
	padding:0 20px;
	background-color:black;
}

.row1 {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.column3 {
  width: 22%;
  padding: 20px;
  box-sizing: border-box;
  color:white;
}

.column3 h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.column3 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column3 li {
  margin-bottom: 5px;
  font-size: 16px;
}

.column3 ul li a {
  color: white;
  text-decoration: none;
}

.column3 ul li a:hover {
  text-decoration: underline;
}
.footer {
  color:white;
  text-align: center;
  background-color:black;
}

.footer p {
  margin:5px 0;
  font-size: 14px;
}
@media (max-width:768px){
.column3{
	flex:1 1 45%;
	margin:20px 0;
}
}

@media(max-width:480px){
.column3{
	flex:1 1 100%;
	margin:20px 0;
	text-align:center;
}
}

 @media (max-width:768px) {
.text-container h1{
	font-size:1.5em;
}
.text-container button{
	font-size:0.9empx;
	padding:8px 16px;
}
}

@media(max-width:480px)
.text-container h1{
	font-size:1.2em;
}
.text-container{
	font-size:0.8em;
	padding:6px 12px;
}
}

 .contact-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height:auto;
 	margin: 0;
}

.contact-form {
 	padding: 20px;
	text-align: center;
	max-width: 500px;
	width: 100%;
}


.contact-form h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form p {
  margin-bottom: 15px;
  color: #555;
}

form{
	display:flex;
	flex-direction:column;
	width:100%;
}
label{
	margin-top:5px;
	text-align:left;
	width:100%;
}
input,textarea{
	margin-bottom:15px;
	padding:10px;
	width:100%;
	box-sizing:border-box;
}
.contact-form button{
	padding:10px;
	background-color:#4A0101;
	color:white;
	border-radius:4px;
	border:none;
	cursor:pointer;
}
.contact-form button:hover{
	background-color:red;
}
.captcha-info{
	font-size:12px;
	margin-top:10px;
}
.btn{
	cursor:pointer;

}
.btn:hover{
	background-color:white;
}
